{% load i18n %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
    <link href="{% static "css/sticky-footer-navbar.css" %}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    {% block css %}{% endblock %}

    {% bootstrap_javascript jquery=1 %}
    {% block js %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "scoreboard" %}">Fretsboard</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li {% if request.resolver_match.url_name == 'scoreboard' %}class="active"{% endif %}><a href="{% url "scoreboard" %}">{% trans "Scoreboard" %}</a></li>
            <li {% if 'player' in request.resolver_match.url_name %}class="active"{% endif %}><a href="{% url "players" %}">{% trans "Players" %}</a></li>
            <li {% if 'song' in request.resolver_match.url_name %}class="active"{% endif %}><a href="{% url "songs" %}">{% trans "Songs" %}</a></li>
          </ul>

          <!-- search bar -->
          <form class="navbar-form navbar-right" action="{% url 'search' %}" method="get">
            <div class="input-group">
              <!-- radio -->
              <div class="input-group-btn" data-toggle="buttons">
                <label class="btn btn-default active">
                  <input type="radio" name="obj" value="songs" checked>{% trans 'Song' %}
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="obj" value="players">{% trans 'Players' %}
                </label>
              </div>
              <!-- text input -->
              <input type="text" class="form-control" placeholder="{% trans 'Search' %}" name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </nav>

    <div class="container" role="main">
      <div class="page-header">{% block header %}{% endblock %}</div>
      {% block content %}{% endblock %}
    </div>


    <!-- footer -->
    <footer class="footer">
      <div class="container">

        <!-- left -->
        <div class="row">
          <div class="col-sm-4">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="https://github.com/Linkid/fretsboard"><i class="fab fa-github fa-2x" title="{% trans 'Code / GitHub' %}"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://riot.im/app/#/room/#fretsboard:matrix.org"><i class="fas fa-comments fa-2x" title="{% trans 'Chat / Matrix' %}"></i></a>
              </li>
            </ul>
          </div>

          <!-- middle -->
          <div class="col-sm-4">
            <!-- language -->
            <div class="text-center">
              <form class="form-inline" action="{% url 'set_language' %}" method="post">
                <div class="input-group">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{{ redirect_to }}" />
                  <select class="form-control" name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                      </option>
                    {% endfor %}
                  </select>
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">{% trans 'Choose' %}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- right -->
          <div class="col-sm-4">
            <div class="pull-right">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://github.com/Linkid/fretsboard/releases/tag/v1.3">{% trans 'Version 1.3' %}</a>
                </li> |
                <li class="list-inline-item">
                  <a href="https://github.com/Linkid/fretsboard/blob/master/CHANGELOG.md">{% trans 'Changelog' %}</a>
                </li> |
                <li class="list-inline-item">
                  <a href="https://fretsboard.readthedocs.io/en/v1.3/">{% trans 'Documentation' %}</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </footer>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//{{ PIWIK_URL }}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', "{{ PIWIK_SITE_ID }}"]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </body>
</html>
