{% load i18n %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
    {% block css %}{% endblock %}

    {% bootstrap_javascript jquery=1 %}
    {% block js %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "scoreboard" %}">Fretsboard</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li {% if request.resolver_match.url_name == 'scoreboard' %}class="active"{% endif %}><a href="{% url "scoreboard" %}">{% trans "Scoreboard" %}</a></li>
            <li {% if 'player' in request.resolver_match.url_name %}class="active"{% endif %}><a href="{% url "players" %}">{% trans "Players" %}</a></li>
            <li {% if 'song' in request.resolver_match.url_name %}class="active"{% endif %}><a href="{% url "songs" %}">{% trans "Songs" %}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" role="main" style="margin-top:50px">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
