{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans "Players" %}{% endblock %}
{% block header %}<h1>{% trans "Players" %}</h1>{% endblock %}


{% block content %}
<ul class="list-group">
  {% for player in players %}
  <li class="list-group-item">
    <a href="{% url "player" player.name %}"><strong>{{ player.name }}</strong></a>
  </li>
  {% empty %}
  <li class=list-group-item>{% trans "No player yet." %}</li>
  {% endfor %}
</ul>

{% include "scoreboard/pagination.html" %}
{% endblock %}
