{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Scoreboard" %}{% endblock %}
{% block header %}<h1>{% trans "Scoreboard" %}</h1>{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Top songs" %}</strong></span>
      </div>
      <div class="panel-body">
        <ol>
          {% for song in songs|dictsortreversed:"score_set.count"|slice:"20" %}
          <li>
            <a href="{% url 'song' song.slug %}">{{ song.title }}</a>
            ({% blocktrans count score_count=song.score_set.count trimmed %}
              {{ score_count }} play
            {% plural %}
              {{ score_count }} plays
            {% endblocktrans %})
          </li>
          {% empty %}
          {% trans "No song yet." %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Top players" %}</strong></span>
      </div>
      <div class="panel-body">
        <ol>
          {% for player in players|dictsortreversed:"get_total_score"|slice:"20" %}
          <li>
            <a href="{% url 'player' player.name %}">{{ player.name }}</a>
            ({% blocktrans count total_score=player.get_total_score trimmed %}
              {{ total_score }} point
            {% plural %}
              {{ total_score }} points
            {% endblocktrans %})
          </li>
          {% empty %}
          {% trans "No player yet." %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Top medals" %}</strong></span>
      </div>
      <div class="panel-body">
        <ol>
          {% for player in players|dictsortreversed:"get_medals"|slice:"20" %}
          <li>
            <ul class="list-inline">
              <li><a href="{% url 'player' player.name %}">{{ player.name }}</a></li>
              <li><img src="{% static 'img/gold.png' %}" alt="{% trans 'Gold' %}" /> {{ player.get_gold_medals }}</li>
              <li><img src="{% static 'img/silver.png' %}" alt="{% trans 'Silver' %}" /> {{ player.get_silver_medals }}</li>
              <li><img src="{% static 'img/bronze.png' %}" alt="{% trans 'Bronze' %}" /> {{ player.get_bronze_medals }}</li>
            </ul>
          </li>
          {% empty %}
          {% trans "No medal yet." %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Statistics" %}</strong></span>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            {% blocktrans count scores_count=scores.count %}
              {{ scores_count }} game played
            {% plural %}
              {{ scores_count }} games played
            {% endblocktrans %}
          </li>
          <li>
            {% blocktrans count players_count=players.count %}
              {{ players_count }} player
            {% plural %}
              {{ players_count }} players
            {% endblocktrans %}
          </li>
          <li>
            {% blocktrans count songs_count=songs.count %}
              {{ songs_count }} song available
            {% plural %}
              {{ songs_count }} song available
            {% endblocktrans %}
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Recent performances" %}</strong></span>
      </div>
      <div class="panel-body">
        <ul>
          {% for score in scores|dictsort:"date" %}
          <li>
            {% url 'song' score.song.slug as url_song %}
            {% url 'player' score.player.name as url_player %}
            {% blocktrans count score_score=score.score with song_title=score.song.title player_name=score.player.name %}
              {{ score_score }} point
              on <a href="{{ url_song }}">{{ song_title }}</a>
              by <a href="{{ url_player }}">{{ player_name }}</a>
            {% plural %}
              {{ score_score }} points
              on <a href="{{ url_song }}">{{ song_title }}</a>
              by <a href="{{ url_player }}">{{ player_name }}</a>
            {% endblocktrans %}
          </li>
          {% empty %}
          {% trans "No performance yet" %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
