{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Scoreboard" %}{% endblock %}
{% block header %}<h1>{% trans "Scoreboard" %}</h1>{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Top songs" %}</strong></span>
      </div>
      <div class="panel-body">
        <ol>
          {% for song in songs|dictsortreversed:"score_set.count"|slice:"20" %}
          <li>
            <a href="{% url 'song' song.slug %}">{{ song.title }}</a>
            ({% blocktrans with score_count=song.score_set.count score_count_p=song.score_set.count|pluralize trimmed %}
              {{ score_count }} play{{ song.score_set.count_p }}
            {% endblocktrans %})
          </li>
          {% empty %}
          {% trans "No song yet." %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Top players" %}</strong></span>
      </div>
      <div class="panel-body">
        <ol>
          {% for player in players|dictsortreversed:"get_total_score"|slice:"20" %}
          <li>
            <a href="{% url 'player' player.name %}">{{ player.name }}</a>
            ({% blocktrans with total_score=player.get_total_score total_score_p=player.get_total_score|pluralize trimmed %}
              {{ total_score }} point{{ total_score_p }}
            {% endblocktrans %})
          </li>
          {% empty %}
          {% trans "No player yet." %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Top medals" %}</strong></span>
      </div>
      <div class="panel-body">
        <ol>
          {% for player in players|dictsortreversed:"get_medals"|slice:"20" %}
          <li>
            <ul class="list-inline">
              <li><a href="{% url 'player' player.name %}">{{ player.name }}</a></li>
              <li><img src="{% static 'img/gold.png' %}" alt="{% trans 'Gold' %}" /> {{ player.get_gold_medals }}</li>
              <li><img src="{% static 'img/silver.png' %}" alt="{% trans 'Silver' %}" /> {{ player.get_silver_medals }}</li>
              <li><img src="{% static 'img/bronze.png' %}" alt="{% trans 'Bronze' %}" /> {{ player.get_bronze_medals }}</li>
            </ul>
          </li>
          {% empty %}
          {% trans "No medal yet." %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Statistics" %}</strong></span>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            {% blocktrans with scores_count=scores.count scores_count_p=scores.count|pluralize %}
              {{ scores_count }} game{{ scores_count_p }} played
            {% endblocktrans %}
          </li>
          <li>
            {% blocktrans with players_count=players.count players_count_p=players.count|pluralize %}
              {{ players_count }} player{{ players_count_p }}
            {% endblocktrans %}
          </li>
          <li>
            {% blocktrans with songs_count=songs.count songs_count_p=songs.count|pluralize %}
              {{ songs_count }} song{{ songs_count_p }} available
            {% endblocktrans %}
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><strong>{% trans "Recent performances" %}</strong></span>
      </div>
      <div class="panel-body">
        <ul>
          {% for score in scores|dictsort:"date" %}
          <li>
            {% url 'song' score.song.slug as url_song %}
            {% url 'player' score.player.name as url_player %}
            {% blocktrans with score_score=score.score score_score_p=score.score|pluralize song_title=score.song.title player_name=score.player.name %}
              {{ score_score }} point{{ score_score_p }}
              on <a href="{{ url_song }}">{{ song_title }}</a>
              by <a href="{{ url_player }}">{{ player_name }}</a>
            {% endblocktrans %}
          </li>
          {% empty %}
          {% trans "No performance yet" %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
