{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}
  {% if song.artist|length_is:"0" %}
    {{ song.title }}
  {% else %}
    {% blocktrans with title=song.title artist=song.artist trimmed %}
      {{ title }} by {{ artist }}
    {% endblocktrans %}
  {% endif %}
{% endblock %}

{% block header %}
  <h1>
    {% if song.artist|length_is:"0" %}
      <em>{{ song.title }}</em>
    {% else %}
      {% blocktrans with title=song.title artist=song.artist trimmed %}
        <em>{{ title }}</em> (by <em>{{ artist }}</em>)
      {% endblocktrans %}
    {% endif %}
  </h1>
{% endblock %}


{% block content %}
<p>
  {% blocktrans count score_count=song.score_set.count trimmed %}
    This song has been played {{ score_count }} time.
  {% plural %}
    This song has been played {{ score_count }} times.
  {% endblocktrans %}
</p>

{% regroup song.score_set.all|dictsort:"difficulty" by difficulty as difficulties_scores %}

{% for difficulty, scores in difficulties_scores %}
<h2>{{ difficulty }}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans "Player" %}</th>
      <th>{% trans "Score" %}</th>
      <th>{% trans "Stars" %}</th>
    </tr>
  <thead>

  <tbody>
  {% for score in scores|dictsortreversed:"score"|slice:":10" %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{% url "player" score.player.name %}">{{ score.player.name }}</a></td>
    <td>
      {% if forloop.counter == 1 %}
        <img src="{% static 'img/gold.png' %}" alt="{% trans 'Gold' %}" />
      {% elif forloop.counter == 2 %}
        <img src="{% static 'img/silver.png' %}" alt="{% trans 'Silver' %}" />
      {% elif forloop.counter == 3 %}
        <img src="{% static 'img/bronze.png' %}" alt="{% trans 'Bronze' %}" />
      {% endif %}
      {{ score.score }}
    </td>
    <td>
      {% for star_state in score.stars_state %}
        {% if star_state %}
          <span class="glyphicon glyphicon-star"></span>
        {% else %}
          <span class="glyphicon glyphicon-star-empty"></span>
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
