{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans "Songs" %}{% endblock %}
{% block header %}<h1>{% trans "Songs" %}</h1>{% endblock %}


{% block content %}
<ul class="list-group">
  {% for song in songs|dictsort:"title" %}
  <li class="list-group-item">
    {% url 'song' song.slug as song_slug %}
    {% if song.artist|length_is:"0" %}
      <a href="{{ song_slug }}"><strong>{{ song.title }}</strong></a>
    {% else %}
      {% blocktrans with title=song.title artist=song.artist trimmed %}
        <a href="{{ song_slug }}"><strong>{{ title }}</strong> by {{ artist }}</a>
      {% endblocktrans %}
    {% endif %}
  </li>
  {% empty %}
  <li class=list-group-item>{% trans "No song yet." %}</li>
  {% endfor %}
</ul>

{% include "scoreboard/pagination.html" %}
{% endblock %}
